<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeme's place</title>
    <link rel="stylesheet" href="../style\styles.css">
</head>
<body>
    <header>
        <h1 class="cv-name">Mārtiņš Zemtitis</h1>
        <nav class="cv-options">
            <a href="..\index.html">About me</a>
            <a href="research.html">Research</a>
            <a href="blog.html">Blog</a>

        </nav>
    </header>



    <div class="container_blog">
        <div class="block" id="block1" style="background-image: url('blog/images/fuzzy_base.jpg');">
            <div class="block-title">Fuzzy transform and Integral Equations</div>
        </div>
    
        <div class="block" id="block2" style="background-image: url('blog/images/optimization_1.png');">
            <div class="block-title">1D Gradeint Method</div>
        </div>
    </div>

   


    <iframe id="iframe" width="100%" height="600"></iframe>

    <script src="..\scripts/script.js"></script>
   

</body>
</html>
