<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeme's place</title>
    <link rel="stylesheet" href="../style\styles.css">
</head>
<body>
    <header>
        <h1 class="cv-name">Mārtiņš Zemītis</h1>
        <nav class="cv-options">
            <a href="..\index.html">About me</a>
            <a href="research.html">Research</a>
        </nav>
    </header>


    <div class="container">
        <h2>Research</h2>
        <p>
            My work invovles fuzzy relations and their applications for solving multi objective linear programming problems. Newer problem me and my 
            supervisor are dealing with is how similarity realtions can be used for numericaly solve maximin problems. 
        </p>

        <h3>Conference papers</h3>
        <ul>
            <li> O. Grigorenko, M. Zemlītis, Fuzzy Equivalence Relations for Solving a Multiple Objective Linear Programming Problem. EUSFLAT AGOP 2023 , Lecture Notes in Computer Science, vol 14069. Springer, Cham. 
                 <a href="https://doi.org/10.1007/978-3-031-39965-7_10">https://doi.org/10.1007/978-3-031-39965-7_10 </a> </li>
            <!-- Add more conference talks as needed -->
        </ul>

        <h3>Conference Talks</h3>
        <ul>
            <li> M. Zemlītis, O. Grigorenko,  Fuzzy Equivalence Based Numerical Algorithm for Solving Multi-objective Linear Programming Problems, FSTA 2024, Slovakia, Liptovský Ján, p 33 </li>
            <li>M. Zemlītis, O. Grigorenko,  Estimation of the solutions of a multi-objective linear programming problem, MMA 2023, Latvia, Jūrmala</li>
            <!-- Add more conference talks as needed -->
        </ul>
    </div>


</body>
</html>
